body
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0 auto;
    padding: 0;
}  

div
{
    background-color: #000000;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    vertical-align: auto;
    width: fit-content;
    padding: 10px 20px;
    border: #000000;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 0 10px #000000;
    text-align: center;
}

.out
{
    align-content: center;
    height: 100%;
    padding-top: 300px;
}

label
{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
}
input
{
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #000000;
    padding: 5px;
    border: 1px solid #FFFFFF;
}
button
{
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 5px;
    margin: 5px;
}

